header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 250px;
}

h1 {
  color: rgb(67, 70, 70);
}

button {
  width: 200px;
  height: 80px;
  box-shadow: 1px 1px 1px;
  background-color: rgb(192, 188, 192);
  font-size: 35px;
  cursor: pointer;
  border-radius: 45px;
}